body {
  margin: 0;
  padding: 0;
}

div {
  background: red;
  width: 100px;
  height: 20px;
  margin: 20px;
  padding: 20px;
}

span {
  background: yellow;
  width: 200px;  /* 적용되지 않음 */
  height: 150px;  /* 적용되지 않음 */
  margin: 20px;
  padding: 20px;
}